// Colors
$base_color: #333;
$secodary_color: #00bdf7;
$accent_color: #ff2e2e;
$dark_blue: #01303f;
$violet: #7a247a;
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,100;1,300&display=swap');

$font_rale: 'Raleway',
sans-serif;

// Color pallets
$pale1: #564787;
$pale2: #dbcbd8;
$pale3: #f2fdff;
$pale4: #9AD4D6;
$pale5: #101935;

// Pallet 2
$pale21: #206a5d;
$pale22: #1f4068;
$pale23: #1b1c25;
$pale24: #ebecf1;

// Pallet 3 Blue Black
$pale31: #1b262c;
$pale32: #0f4c75;
$pale33: #3282b8;
$pale34: #bbe1fa;

// Pallet 4 Coffe/Sweet

$pale41: #ffdecf;
$pale42: #ba7967;
$pale43: #5e6f64;
$pale44: #3f4441;

// Pallet 5 Dark Violet

$pale51: #6f4a8e;
$pale52: #221f3b;
$pale53: #050505;
$pale54: #ebebeb;

//Pallet  6 Blue purple

$pale61: #848ccf;
$pale62: #93b5e1;
$pale63: #ffe4e4;
$pale64: #be5683;

//Pallet 7 Darkmode

$pale71: #4b5d67;
$pale72: #322f3d;
$pale73: #59405c;
$pale74: #87556f;

//Pallet 8 Summar mode!
$pale81: #e3dfc8;
$pale82: #f5f1da;
$pale83: #96bb7c;
$pale84: #eebb4d;